# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables & Secrets
.env
.env.*
*.env
backend/.env
!**/.env.example

# Databases
backend/tenders.db
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
